*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;

}


/* Buttons */

.btn {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--search {
	font-size: 1.5em;
}

.btn--hidden {
	pointer-events: none;
	opacity: 0;
}


/* Reset Search Input */

.search__input {
	border: 0;
	background: transparent;
	border-radius: 0;
	-webkit-appearance: none;
}

.search__input:focus {
	outline: none;
}



/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: #ffffff;
}


/* search wrapper*/


.search-wrap {
  position: absolute;
	margin: 0 0 0 auto;
	right:13%;
	top:4%;
}

/* Layout for search container */
.search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgba(129, 20, 21, 1);
}

.js .search {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.search::before,
.search::after {
	content: '';
	position: absolute;
	width: calc(100% + 15px);
	height: calc(100% + 15px);
	pointer-events: none;
	border: 1.5em solid #ffffff;
}

.search::before {
	top: 0;
	left: 0;
	border-right-width: 0;
	border-bottom-width: 0;
}

.search::after {
	right: 0;
	bottom: 0;
	border-top-width: 0;
	border-left-width: 0;
}

.btn--search-close {
	font-size: 2em;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.js .btn--search-close {
	display: block;
}

.search__form {
	margin: 5em 0;
}

.search__input {
	font-family: inherit;
	font-size: 6vw;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 99%;
	padding: 0.05em 0;
	color: #ffffff;
	border-bottom: 2px solid;
}

.search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	opacity: 0.3;
	color: #060919;
}

.search__input::-moz-placeholder {
	opacity: 0.3;
	/* Mozilla Firefox 19+ */
	color: #060919;
}

.search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	opacity: 0.3;
	color: #060919;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}

.search__info {
	font-size: 90%;
	font-weight: bold;
	display: block;
	width: 75%;
	margin: 0 auto;
	padding: 0.85em 0;
	text-align: right;
	color: #ffffff;
}

.search__related {
	display: flex;
	width: 75%;
	pointer-events: none;
}

.search__suggestion {
	width: 33.33%;
	text-align: left;
}

.search__suggestion:nth-child(2) {
	margin: 0 3em;
}

.search__suggestion h3 {
	font-size: 1.35em;
	margin: 0;
}

.search__suggestion h3::before {
	content: '\21FE';
	display: inline-block;
	padding: 0 0.5em 0 0;
}

.search__suggestion p {
	font-size: 1.15em;
	line-height: 1.4;
	margin: 0.75em 0 0 0;
}


/* Transitions 			*/


.js .search {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
}

.js .search--open {
	pointer-events: auto;
	opacity: 1;
}


/* Close button */
.btn--search-close {
	opacity: 0;
}

.search--open .btn--search-close {
	opacity: 1;
}

/* Search form with input and description */
.js .search__form {
opacity: 0;
}

.js .search--open .search__form {
opacity: 1;	
}

.search__suggestion {
opacity: 0;
}

.search__suggestion_hdr{
	color:#ffffff;
	}

.search--open .search__suggestion, .search--open .search__suggestion:nth-child(2), .search--open .search__suggestion:nth-child(3) {
	opacity: 1;
}

/*---FOOTER STORIES--*/
.stories-topics{ padding:2% 0 ; border-bottom: 1px solid #d5d0c0;}
	
.stories-topics h2{	
		color: #8c1515;
    font-size: 2.2em;
    border-bottom: 1px solid #d5d0c0;
    text-transform: capitalize;
   }
   
 .stories-topics h4 a{text-decoration: underline;}
 
 .by-sections, .by-topics{
	 padding:1% 0;
 }
 
 .by-sections h3, .by-topics h3{
 	 width: 23%;
	 border-bottom: 1px solid #d5d0c0;
 }


/*--SIMPLE MEDIA QUERIES--*/

@media screen and (max-width: 40em) {
	.search-wrap {
		font-size: 0.85em;
		position: absolute;
		top: 2.15em;
		right: 2em;
		z-index: 3;
	}
	
	.search__form {
		margin: 5em 0 1em;
	}
	.btn--search-close {
		font-size: 1.25em;
		top: 1.5em;
		right: 1.5em;
	}
	.search__info {
		text-align: left;
	}
	.search__suggestion {
		font-size: 80%;
		width: 100%;
	}
	.search__related {
	display: block;
	width: 75%;
	pointer-events: none;
}

.search__suggestion, .search__suggestion:nth-child(2) {
	width: 100%;
	text-align: left;
	margin:3% 0 0 0;
}


}


/*----For Presentation Only--*/
.presentation-links{}
.presentation-links h2{color: #8c1515;
    font-size: 2em;
    border-bottom: 1px solid #d5d0c0;
 }
 
 .presentation-links ul{list-style-type: none;}
