.stories-topics{ padding:2% 0 ; border-bottom: 1px solid #d5d0c0;}
	
.stories-topics h2{	
		color: #8c1515;
    font-size: 2.2em;
    border-bottom: 1px solid #d5d0c0;
    text-transform: capitalize;
   }
   
.stories-topics h4 a{text-decoration: underline;}
   
 